<!DOCTYPE html>
<html>
<head>
  <title>Registrar cuenta</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/app.css">
</head>
<body>
  <nav id="mainNavbar" class="navbar navbar-dark bg-dark nav-expand-md">
    <a href="#" class="navbar-brand">Drive web</a>
  </nav>
  {% if error %}
    <div class="alert alert-danger" role="alert">{{error}}</div>
  {% endif %}
  <div class="panel">
    <h2>Registrar cuenta</h2>
    <form action="/crearCuenta" method="POST">
      <input type="text" name="username" data-dismiss="alert"placeholder="username" required><br><br>
      <input type="number" name="tamanio" data-dismiss="alert"placeholder="Tamaño del Drive" required><br>
      <input  class="btn btn-success"  type="submit" value="Crear">
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
